<div class="tab-content primary" id="myTabContent1">
    <div class="tab-pane fade active show" id="profile-1">
        <div class="row">
            <div class="col-xl-6">
                <section class="box nobox ">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-12">
                                <div id="accordion" role="tablist" class="accordion-group">
                                    <h2>
                                        Social
                                    </h2>
                                    <div class="card" *ngFor="let patientSocial of patientSocialss">
                                        <div class="card-header" role="tab" id="headingTwo">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-row">
                                                        <a class="showSingle" target="3">
                                                            <h5> <span
                                                                    class="spancolor">{{patientSocial.addiection}}</span>
                                                                {{patientSocial.frequency}} | {{patientSocial.duration}}
                                                            </h5>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-xl-6">
                <section class="box nobox ">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-12">
                                <div id="accordion" role="tablist" class="accordion-group">
                                    <h2>
                                        Family
                                    </h2>
                                    <div class="card" *ngFor="let patientFamily of patientFamilyss">
                                        <div class="card-header" role="tab" id="headingTwo">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-row">
                                                        <a class="showSingle" target="3">
                                                            <h5> <span class="spancolor">{{patientFamily.member}}</span>
                                                                -{{patientFamily.diseases}}
                                                            </h5>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>