<div class='page-topbar sidebar_shift'>
    <div class='logo-area'>
    </div>
    <div class='quick-area'>
        <app-header></app-header>
    </div>
</div>
<div class="page-container row-fluid container-fluid">
    <app-side-menu></app-side-menu>
</div>
<!-- START CONTENT -->
  <section id="main-content" class="sidebar_shift">
    <section class="wrapper main-wrapper row">

        <div class='col-12'>
            <div class="page-title">

                <div class="float-left">
                    <!-- PAGE HEADING TAG - START --><h1 class="title">Insurance claim</h1><!-- PAGE HEADING TAG - END -->                            </div>


            </div>
        </div>
        <div class="clearfix"></div>
        <!-- MAIN CONTENT AREA STARTS -->

        <div class="col-xl-12">
            <form [formGroup]="eobForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
            <section class="box ">
                <header class="panel_header">
                    <div class="row">
                        <div class="col-10"><h2 class="title float-left">Add EOB</h2></div>
                         <div class="col-2" style="padding-top: 25px;">
                           
                            <button type="submit" class="btn btn-primary"  style="margin-right: 10px;">Finish</button>
                            <button type="button" class="btn" (click)="reset()">Cancel</button>
                         </div>
                    </div>                               
                </header>
                <div class="content-body"> 
                   <div class="row">
                        <div class="col-12">

                            <div class="row">
                                
                                    <div class="col-md-12 col-lg-12 col-xl-12">                                             
                                        <div class="form-row">                                                	
                                            <div class="form-group col-md-4">
                                                <label class="form-label">Doctor</label>
                                                <input class="form-control" disabled formControlName="doctorName" name="doctorName" type="text" placeholder="Dr.Marc Polimeni">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="form-label">Patient</label>
                                                <input class="form-control" disabled formControlName="patientName" name="patientName" type="text" placeholder="Jone">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="form-label">Date</label>
                                                <input class="form-control" disabled formControlName="date1" name="date" type="text" placeholder="04/04/2020">
                                            </div> 
                                        </div>
                                        <div class="form-row"> 
                                            <div class="form-group col-md-4">
                                                <label class="form-label">Location</label>
                                                <input class="form-control" disabled formControlName="locationName" name="locationName" type="text">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="form-label">Place of </label>
                                                <input class="form-control" disabled formControlName="placeOfName" name="placeOfName" type="text">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="form-label">Service</label>
                                                <input class="form-control" disabled formControlName="serviceName" name="serviceName" type="text">
                                            </div> 
                                        </div>
                                        <div class="form-row"> 
                                            <div class="form-group col-md-4">
                                                <label class="form-label">Reference by</label>
                                                <input class="form-control" disabled formControlName="referenceName" name="referenceName" type="text">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="form-label">File As  </label>
                                                <input class="form-control"  disabled formControlName="fileAsName" name="fileAsName" type="text">
                                            </div>
                                            <div class="form-group col-md-3">	
                                                <label class="form-label">Insurance</label>
                                                <input class="form-control" disabled formControlName="insuranceName1" name="insuranceName1" type="text">
                                            </div>
                                            
                                            
                                            <div class="form-group col-md-1" style="padding-top:35px; padding-left: 0px; padding-right: 0px;">   
                                                <label class="form-label" style="margin-right: 30px; font-weight: bold;">Denied</label>                                                														
                                                <input class="form-check-input"  formControlName="denied" type="checkbox">
                                            </div>
                                            
                                        </div>  
                                    </div> 
                                
                                
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <table class="table table-striped dt-responsive display" cellspacing="0" width="100%">
                                <thead style="background: #678680;">
                                    <tr>
                                        <th>Date</th>
                                        <th>CPT</th>
                                        <th>Charge Amt</th>
                                        <th>Co Pay</th>
                                        <th>Allowed (A)</th>
                                        <th>Deduct (B)</th>
                                        <th>Payment Received(C)</th>
                                        <th>Insurance Adjustment (D)</th>
                                        <th>Misc Adjustment (E)</th>
                                        <th>Reason</th>
                                        <th>Insurance Balance(F)</th>
                                        <th>Balance(A-B-C-D-E-F)
</th>
                                    </tr>
                                </thead>                                            
                                <tbody>
                                    
                                    <tr *ngFor="let detail of chargePatientDetails; let i=index">
                                        <td><input style="width: 102px;" class="form-control" type="text" [value]="detail.date" placeholder="04/04/2020" disabled></td>
                                        <td><input style="width: 100px;" class="form-control" type="text" [value]="detail.cptCode" placeholder="3344" disabled></td>
                                        <td><input class="form-control" type="text" [value]="detail.chargeAmount" placeholder="80000" disabled></td>
                                        <td><input class="form-control" type="text" [value]="detail.copay" placeholder="10000" disabled></td>
                                        <td><input class="form-control" type="text" [value]="detail.allowedAmount" placeholder="60000" disabled></td>
                                        <td><input class="form-control" type="number"  [value]="detail.deduction" (blur)="calculateBalance(detail)" (input)='detail.deduction = $event.target.value' placeholder="10000"></td>
                                        <td><input class="form-control" type="number" [value]="detail.paymentReceived" disabled (blur)="calculateBalance(detail)" (input)='detail.paymentReceived = $event.target.value' placeholder="50000"></td>
                                        <td><input class="form-control" type="number" [value]="detail.insAdjustment" (input)='detail.insAdjustment = $event.target.value' placeholder="50000" disabled></td>
                                        <td><input class="form-control" type="number" [value]="detail.miscAdjustment" (blur)="calculateBalance(detail)" (input)='detail.miscAdjustment = $event.target.value' placeholder="5000"></td>
                                        <td> 
                                            <select style="width: 100px;" id="location" [value]="detail.reasonId" class="form-control" (change)="changeReason($event)">
                                                <option value="0">--Select--</option>
                                                <option *ngFor="let reason of reasons" value="{{reason.reasonId}}"> {{reason.reasonDescription}} </option>
                                            </select>
                                        </td>
                                        <td><input class="form-control" type="number" [value]="detail.insuranceBalance" (blur)="calculateBalance(detail)" 
                                            (input)='detail.insuranceBalance = $event.target.value' placeholder="5000"></td>
                                        <td><input class="form-control" type="text" [value]="detail.balance" placeholder="48000" disabled></td>
                                    </tr>                                              
                                </tbody>
                            </table>
                                </div>
                                
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-row">
                                      <div  class="form-group col-md-3">
                                          <label class="form-label">Adjustment Amount </label>
                                          <input type="text" formControlName="amount" class="form-control" (paste)="paste($event)" (keypress)="numberOnly($event)">
                                      </div>
                                      <div  class="form-group col-md-3">
                                          <label class="form-label">Group </label>
                                          <input type="text" formControlName="groupName" class="form-control">
                                      </div>
                                       <div  class="form-group col-md-3">
                                          <label class="form-label">Reason</label>
                                          <select id="location" formControlName="adjreason"  class="form-control" 
                                          >
                                            <option value="0">--Select--</option>
                                            <option *ngFor="let reason of adjreasons" value="{{reason.reasonId}}"> 
                                                {{reason.reasonDescription}} </option>
                                        </select>
                                          <!-- <input type="text" formControlName="reason" class="form-control"> -->
                                      </div>
                                      <div  class="form-group col-md-3" style="padding-top:35px;">
                                        <button type="button" (click)="addAdjustment()" class="btn btn-primary rss"> <i class="fa fa-plus vimeo-square"></i></button>
                                      </div>
                                  </div>
                                </div>
                               
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <table class="table table-striped dt-responsive display" cellspacing="0" width="100%">
                                        <thead style="background: #678680;">
                                            <tr>
                                                <th>Adjustment Amount</th>
                                                <th>Group</th>
                                                <th>Reason</th>                                                            
                                                <th>Action</th>
                                            </tr>
                                        </thead>                                            
                                        <tbody>
                                            <tr *ngFor="let adj of claimAdjustments; let i=index">
                                                <td>{{adj.amount}}</td>
                                                <td>{{adj.groupName}}</td>
                                                <td>{{adj.reason}}</td>
                                                <td>
                                                 <button type="button" class="btn btn-danger" (click)="deleteAdjustment(adj)">
                                                     <i class="fa fa-trash-o text-white"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            </form>
        </div>


        <!-- MAIN CONTENT AREA ENDS -->
    </section>
</section>
<!-- END CONTENT -->
<!-- </div> -->