<div class="container-fluid">
    <div class="login-wrapper row">
        <div id="login" class="login loginpage">
            <div *ngIf="!page_confirm">

                <h1><a href="#" title="Login Page" tabindex="-1">Complete Admin</a></h1>
                <h3 class="select-acclabel p-bord-control">Create Password</h3>

                <ul class="list-unstyled notification-widgett">
                    <p class="password-text">Create a password with at least:</p>
                    <div class="password-reqs">
                        <p class="requirements req-red"> One number</p>
                        <p class="requirements req-green"> One capital letter</p>
                        <p class="requirements req-red"> 8 characters</p>
                    </div>
                    <span class="name1"><strong>{{errorMsg}}</strong></span>
                    <div class="form-group">
                        <form name="loginform" id="loginform">


                            <label for="newpass" class="label-input">Enter new password</label>
                            <div class="col-md-12 paddingLeft0 paddingRight0">
                                <input #input type="password" name="pwd" id="user_pass" class="input" value="" size="20"
                                    (input)="password = $event.target.value" />
                                <span><i [ngClass]="iconview" aria-hidden="true"
                                        (click)="togglePasswordFieldType(input)"></i></span>
                            </div>
                            <label for="confirmpass" class="label-input">Confirm new password</label>
                            <div class="col-md-12 paddingLeft0 paddingRight0">
                                <input #input type="password" name="pwd" id="user_pass" class="input" value="" size="20"
                                    (input)="re_password = $event.target.value" />
                                <span><i [ngClass]="iconview" aria-hidden="true"
                                        (click)="togglePasswordFieldType(input)"></i></span>
                            </div>
                        </form>
                        <div class="login-button-div"><button class="btn btn-accent signinbutton"
                                (click)="set_password()">Continue </button></div>

                    </div>
                </ul>
            </div>



            <div *ngIf="page_confirm">

                <h1><a href="#" title="Login Page" tabindex="-1">Complete Admin</a></h1>
                <h3 class="select-acclabel p-bord-control">Password Reset Successful</h3>

                <ul class="list-unstyled notification-widgett">
                    <p class="password-text">Your new password has been successfully reset.</p>
                    
                    <div class="login-button-div">
                        <button class="btn btn-accent signinbutton"
                            (click)="signIn()">Login</button>
                    </div>
                </ul>
            </div>

        </div>
        <div class="c-rightfooter">Copyright &#169; 2021. chartDoc is a registered trademark. All rights reserved.</div>
    </div>