
<div class="container-fluid">
    <div class="login-wrapper row">
        <div id="login" class="login loginpage offset-xl-4 offset-lg-3 offset-md-3 offset-0 col-12 col-md-6 col-xl-4">
            <h1><a href="#" title="Login Page" tabindex="-1">Complete Admin</a></h1>
            <div *ngIf="isNew">
                <form name="loginform" id="loginform">
                    <div class="form-group">
                        <label class="col-md-12 control-label paddingLeft0 paddingRight0" for="user_login">Username
                        <div class="col-md-12 paddingLeft0 paddingRight0">
                            <input type="text" name="log" id="user_login" class="input" value="" size="20" (input)="userName = $event.target.value" />
                        </div>
                        </label>                                          
                        <label class="col-md-12 control-label paddingLeft0 paddingRight0" for="user_pass">Password
                        <div class="col-md-12 paddingLeft0 paddingRight0">
                            <input #input type="password" name="pwd" id="user_pass" class="input" value="" size="20" (input)="password = $event.target.value" />
                            <span><i class="fa fa-fw fa-eye field-icon" aria-hidden="true" (click)="togglePasswordFieldType(input)"></i></span>
                        </div>
                        <span class="name"><strong>{{errorMsg}}</strong></span> 
                       </label>   
                        <label class="icheck-label form-label" for="rememberme"><input name="rememberme" type="checkbox" id="rememberme" value="forever" class="icheck-minimal-aero" checked> Remember me</label>                      
                   
                        <button kendoButton class="btn btn-accent btn-block" value="Sign In" (click)="tryLogin()">Sign In</button>
                        <!-- <input type="submit" name="wp-submit" id="wp-submit" class="btn btn-accent btn-block" value="Sign In" (click)="tryLogin()" /> -->
                    </div>                
                </form>
    
                <p id="nav">
                    <a class="float-left" href="#" title="Password Lost and Found">Forgot password?</a>
                    <a class="float-right" href="layout/ui-register.html" title="Sign Up">Sign Up</a>
                    <br/>
                </p>
            </div>
            <div *ngIf="!isNew">
                <ul class="list-unstyled notification-widgett">
                    <li class="status-available">
                        <a href="javascript:;">
                        <div class="user-img">
                            <!-- <img src="assets/images/face2.png" alt="user-image" class="rounded-circle img-inline"> -->
                            <img src="{{doctorImg}}" alt="user-image" class="rounded-circle img-inline">
                            </div>
                        <div>
                            <span class="name">
                                <strong>{{doctorName}}</strong>
                            </span>
                        </div>
                        </a>
                    </li>
                    <form name="loginform" id="loginform" action="dashboard.html" method="post">
                        <div class="form-group">
                        <label class="col-md-12 control-label paddingLeft0 paddingRight0" for="user_pass">Password
                        <div class="col-md-12 paddingLeft0 paddingRight0">
                        <input #input type="password"  name="pwd" id="user_pass" class="input" value="" size="20" (input)="password = $event.target.value" />
                        <span><i [ngClass]="iconview" aria-hidden="true" (click)="togglePasswordFieldType(input)"></i></span>
                        </div>
                        </label>
                        <span class="name1"><strong>{{errorMsg}}</strong></span> 
                        <!-- <input type="submit" name="wp-submit" id="wp-submit" class="btn btn-accent btn-block" value="Sign In" (click)="tryLogin()" /> -->
                        <button kendoButton class="btn btn-accent btn-block" value="Sign In" (click)="tryLogin()">Sign In</button>
                    </div>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</div>
