<div class="container-fluid">
        <div class="login-wrapper row">
            <div id="login" class="login loginpage offset-xl-4 offset-lg-3 offset-md-3 offset-0 col-12 col-md-6 col-xl-4">
                <h1><a href="#" title="Login Page" tabindex="-1">Complete Admin</a></h1>
                <div *ngIf="isNew">
                    <form name="loginform" id="loginform">
                        
                            <label for="user_login">Username<br />
                            <input type="text" name="log" id="user_login" class="input" value="" size="20" (input)="userName = $event.target.value" />
                            </label>
                                          
                            <label for="user_pass">Password<br />
                            <input type="password" name="pwd" id="user_pass" class="input" value="" size="20" (input)="password = $event.target.value" /><br/>
                            <span class="name"><strong>{{errorMsg}}</strong></span> 
                           </label>
                          
                      
                        
                            <label class="icheck-label form-label" for="rememberme"><input name="rememberme" type="checkbox" id="rememberme" value="forever" class="icheck-minimal-aero" checked> Remember me</label>
                       
                       
                            <button kendoButton class="btn btn-accent btn-block" value="Sign In" (click)="tryLogin()">Sign In</button>
                            <!-- <input type="submit" name="wp-submit" id="wp-submit" class="btn btn-accent btn-block" value="Sign In" (click)="tryLogin()" /> -->
                                        
                    </form>
        
                    <p id="nav">
                        <a class="float-left" href="#" title="Password Lost and Found">Forgot password?</a>
                        <a class="float-right" href="layout/ui-register.html" title="Sign Up">Sign Up</a>
                        <br/>
                    </p>
                </div>
                <div *ngIf="!isNew">
                    <ul class="list-unstyled notification-widgett">
                        <li class="status-available">
                            <a href="javascript:;">
                            <div class="user-img">
                                <!-- <img src="assets/images/face2.png" alt="user-image" class="rounded-circle img-inline"> -->
                                <img src="{{doctorImg}}" alt="user-image" class="rounded-circle img-inline">
                                </div>
                            <div>
                                <span class="name">
                                    <strong>{{doctorName}}</strong>
                                </span>
                            </div>
                            </a>
                        </li>
                        <form name="loginform" id="loginform" action="dashboard.html" method="post">
                            <label for="user_pass">Password<br />
                            <input type="password" name="pwd" id="user_pass" class="input" value="" size="20" (input)="password = $event.target.value" /></label>
                            <span class="name"><strong>{{errorMsg}}</strong></span> 
                            <!-- <input type="submit" name="wp-submit" id="wp-submit" class="btn btn-accent btn-block" value="Sign In" (click)="tryLogin()" /> -->
                            <button kendoButton class="btn btn-accent btn-block" value="Sign In" (click)="tryLogin()">Sign In</button>
                        </form>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    