<!-- SIDEBAR - START -->
<div class="page-sidebar pagescroll collapseit">
    <!-- MAIN MENU - START -->
    <div class="page-sidebar-wrapper" id="main-menu-wrapper">
        <!-- USER INFO - START -->
        <div class="profile-info row">
            <div class="profile-image col-4">
                <a [routerLink]="">
                    <img alt="" src="{{drImagePath}}" class="img-fluid rounded-circle">
                </a>
            </div>
            <div class="profile-details col-8">
                <h3>
                    <a [routerLink]="">{{drName}}</a>
                    <!-- Available statuses: online, idle, busy, away and offline -->
                    <span class="profile-status online"></span>
                </h3>
                <p class="profile-title">Surgeon</p>
            </div>
        </div>
        <!-- USER INFO - END -->
        <ul class='wraplist'>
            <!-- <li class="">
                <a [routerLink]="">
                    <i class="fa fa-dashboard"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-user-md"></i>
                    <span class="title">Doctors</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a class="" [routerLink]="">All Doctors</a>
                    </li>
                    <li>
                        <a class="" [routerLink]="">Add Doctor</a>
                    </li>
                    <li>
                        <a class="" [routerLink]="">Edit Doctor</a>
                    </li>
                    <li>
                        <a class="" [routerLink]="">Doctor Profile</a>
                    </li>
                </ul>
            </li> -->
            <!-- <li class="open">
                <a href="javascript:;">
                    <i class="fa fa-users"></i>
                    <span class="title">Patients</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                   
                    <li>
                        <a class="" [routerLink]="['/patient-create']">Add Patient</a>
                    </li>
                    <li>
                        <a class="" [routerLink]="['/patient-search']" [queryParams]="{mode: 'edit-patient'}">Edit
                            Patient</a>
                    </li>
                    <li class="">
                
                        <a href=""  [routerLink]="['/patient-search']" [queryParams]="{mode: 'patient-history'}">
                          
                            <span class="title" >View Patient History</span>
                            
                        </a>
                    </li>
                   
                </ul>
            </li> -->
            <li  class="open" *ngFor="let item of menulist"> 
                <a href="javascript:;">
                    <i [ngClass]="item.className"></i>
                    <span class="title">{{item.menuName}}</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li  *ngFor="let data of submenulistdata(item.menuId)">
                        
                        <a  *ngIf="data.queryParamsvalue !='' && data.parentmenuId=='61'?true:false" [routerLink]="[data.submenuRoute]" [queryParams]="{mode:[data.queryParamsvalue]}">{{data.submenu}}</a>
                        <a  *ngIf="data.queryParamsvalue !='' && data.parentmenuId=='66'?true:false" [routerLink]="[data.submenuRoute]" [queryParams]="{id:[data.queryParamsvalue]}" >{{data.submenu}}</a>
                        <a  *ngIf="data.queryParamsvalue ==''?true:false"  [routerLink]="[data.submenuRoute]" >{{data.submenu}}</a>
                    </li>
                </ul>
                <!-- <ul class="sub-menu">
                    <li>
                        <a class="" [routerLink]="['/appointment']">Doctor Schedule</a>
                    </li>
                    <li>
                        <a class="" [routerLink]="['/patient-flow-sheet']">Flow Sheet</a>
                    </li>
                   
                </ul> -->
            </li>
            <!-- <li class="">
                <a href="javascript:;">
                    <i class="fa fa-calendar-o"></i>
                    <span class="title">Appointment</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a class="" [routerLink]="['/appointment']">Doctor Schedule</a>
                    </li>
                    <li>
                        <a class="" [routerLink]="['/patient-flow-sheet']">Flow Sheet</a>
                    </li>
                   
                </ul>
            </li>
            
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-user "></i>
                    <span class="title">User</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                   
                    <li>
                        <a class="" [routerLink]="['/manage-user']">Manage user</a>
                    </li>
                </ul>
            </li>
         
          
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-calendar"></i>
                    <span class="title">Calendar</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a  [routerLink]="['/calendar-schedule']">Office Calendar</a>
                    </li>
                    <li>
                        <a  [routerLink]="['/doctor-calendar']">Doctor Calendar</a>
                    </li>
                </ul>
                
            </li>
          
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-database"></i>
                    <span class="title">Master</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a  [routerLink]="['/app-service']">Service</a>
                    </li>
                    <li>
                        <a  [routerLink]="['/app-reason']">Reason</a>
                    </li>
                    <li>
                        <a  [routerLink]="['/app-specialty']">Specialty</a>
                    </li>
                    <li>
                        <a  [routerLink]="['/app-role']">Role</a>
                    </li>
                    <li>
                        <a  [routerLink]="['/app-charge']">Charge Master</a>
                    </li>
                    <li>
                        <a  [routerLink]="['/app-charge-date']">Charge Date Range</a>
                    </li>
                    <li>
                        <a  [routerLink]="['/app-claim-field-master']">Claim Field Master</a>
                    </li>
                    
                    <li>
                        <a  [routerLink]="['/app-general']">Others</a>
                    </li>
                    
                </ul>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-dollar "></i>
                    <span class="title">Billing</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a [routerLink]="['/create-charge']" [queryParams]=" {id:-1}" (click)="deleteData()" >Create Charge</a>
                    </li>
                    <li>
                        <a [routerLink]="['/create-claim']" [queryParams]=" {id:1}" (click)="deleteData()">Create Claim</a>
                    </li>
                    <li>
                        <a [routerLink]="['/resubmit-claim']" [queryParams]=" {id:2}" (click)="deleteData()">Resubmit Claim</a>
                    </li>
                    <li>
                        <a [routerLink]="['/manage-claim']" [queryParams]=" {id:3}" (click)="deleteData()">Manage Claim</a>
                    </li>
                    <li>
                        <a [routerLink]="['/create-eob']" [queryParams]=" {id:9}" (click)="deleteData()">EOB</a>
                    </li>
                    <li>
                        <a [routerLink]="['/payment']" [queryParams]=" {id:10}" (click)="deleteData()">Payment</a>
                    </li>
                   
                </ul>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-file"></i>
                    <span class="title">Report</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a  [routerLink]="['/party-ledger']"  (click)="deleteData()">Party Ledger</a>
                    </li>
                    <li>
                        <a  [routerLink]="['/patient-balance']"  (click)="deleteData()">Patient Balance</a>
                    </li>
                    
                </ul>
            </li> -->
        </ul>
       
    </div>
    <!-- MAIN MENU - END -->
</div>