<!-- <div class='page-topbar sidebar_shift'>
    <div class='logo-area'>
    </div>
    <div class='quick-area'>
        <app-header></app-header>
    </div>
</div>
<div class="page-container row-fluid container-fluid">
    <app-side-menu></app-side-menu>
</div> -->
<section id="main-content" class="sidebar_shift">
    <section class="wrapper main-wrapper row" styles=''>
        <div class='col-12'>
            <div class="page-title">
                <div class="float-left">
                    <!-- PAGE HEADING TAG - START -->
                    
                    <!-- PAGE HEADING TAG - END -->
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- MAIN CONTENT AREA STARTS -->

        <div class="col-xl-12">
            <section class="box nobox ">
                <div class="content-body">
                    <div class="row">
                        <div class="col-3 col-lg-3 pr-0" style="padding-top:0px">
                            <h1 class="title mt-0 mb-4 sch-font">Scheduling</h1>
                            <form>
                                <div class="form-group">
                                    <ngb-datepicker #dp [minDate]="minDate" (dateSelect)="datechange($event)"
                                        style="background-color: transparent;"></ngb-datepicker>
                                </div>
                                <div #external id="external-events" style="display: none;"> 
                                    <div  id="external-events-list">
                                        <div class="fc-event">&nbsp;Drag and Drop to book appointment</div>
                                    </div>
                                    <p style="display: none;">
                                        <input type='checkbox' id='drop-remove' placeholder="Enter text" />
                                        <label for='drop-remove'>remove after drop</label>
                                    </p>
                                </div>
                            </form>
                            <div class="filter-pannel">
                                <h4 class="views-text">Views:</h4>
                                <label class="custom-radio">All Doctors
                                    <input type="radio" checked="checked" name="radio">
                                    <span class="checkmark-radio"></span>
                                  </label>
                                  <label class="custom-radio">Select Doctors
                                    <input type="radio" name="radio">
                                    <span class="checkmark-radio"></span>
                                  </label>
                                  <div class="pl-3">
                                    <label class="custom-checkbox">Dr. Polimeni
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark-chk"></span>
                                      </label>
                                      <label class="custom-checkbox">Dr. Gupta
                                        <input type="checkbox">
                                        <span class="checkmark-chk"></span>
                                      </label>
                                      <label class="custom-checkbox">Dr. Wells
                                        <input type="checkbox">
                                        <span class="checkmark-chk"></span>
                                      </label>
                                      <label class="custom-checkbox">Dr. Weheller
                                        <input type="checkbox">
                                        <span class="checkmark-chk"></span>
                                      </label>
                                      <label class="custom-checkbox">Dr. Polimeni
                                        <input type="checkbox">
                                        <span class="checkmark-chk"></span>
                                      </label>
                                      <label class="custom-checkbox">Dr. Poantera
                                        <input type="checkbox">
                                        <span class="checkmark-chk"></span>
                                      </label>
                                      <label class="custom-checkbox">Dr. Rosendrof
                                        <input type="checkbox">
                                        <span class="checkmark-chk"></span>
                                      </label>
                                      
                                  </div>
                               
                            </div>
                        </div>
                        <div class="col-9 col-lg-9">
                            <div class='app-calendar' *ngIf="calendarVisible">
                                <full-calendar #calendarComponent [allDaySlot]=false editable=true droppable=true
                                    schedulerLicenseKey="GPL-My-Project-Is-Open-Source"
                                    defaultView="resourceTimeGridDay" [header]="{
                                        right: 'prev,today,next',
                                        center: '',
                                        left: 'title'
                                      }" [defaultDate]="defaultDate" minTime="08:00:00" maxTime="13:15:00"
                                    slotDuration="00:15:00" slotLabelInterval="00:15" [resources]="calendarreSources"
                                    [plugins]="calendarPlugins" [weekends]="calendarWeekends" [events]="calendarEvents"
                                    (eventClick)="rowclick($event)" (eventDrop)="eventDrop($event)" [selectable]="selectable"
                                    (drop)="drop($event)"(select) ="select($event)"></full-calendar>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</section>

<div class="example-wrapper">
    <div id="modalmarkDelete" class="modal">
        <div class="modal-content1">
            <h4 class="textcolor">Scheduling an appointment between</h4>
       
        <h4 class="textcolor"> {{timerange}} ?</h4>
       
            <div class="row">
                <div class="svbutton"> 
                    <button type="button" class="btn btn-primary" (click)="openModal('modalmarkDelete','')">Yes</button> &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary " type="button" (click)="closePopup('modalmarkDelete')">No</button>
                </div>
            </div>
        </div>
    </div>
</div>