<div class="container-fluid">
    <div class="login-wrapper row">
        <div class="login loginpage">                   
            <h1><a href="#" title="Login Page" tabindex="-1">Complete Admin</a></h1>
            <h3 class="select-acclabel">Select Account</h3>
            <ul class="list-unstyled notification-widget">
                <li class="status-available" *ngFor="let user of userList">
                    <a href="javascript:;" (click)="onClick(user)">
                        <div class="user-img">
                            <!-- <img src="{{user.DoctorImage}}" alt="user-image" class="rounded-circle img-inline"> -->
                            <!-- <img src="../../assets/images/{{user.DoctorImage}}" alt="user-image" class="rounded-circle img-inline"> -->
                            <img src="{{user.doctorImage}}" (error)="picNotLoading($event)" alt="user-image" class="rounded-circle img-inline">
                        </div>
                        <div>
                            <span class="name">
                                <strong>{{user.doctorName}}</strong>
                            </span>
                        </div>
                    </a>
                </li>
                                      
                <!-- <li class="status-available">
                    <a href="javascript:;" (click)="onClick('Dr. Andrew Pecora', 'assets/images/Dr_Andrew_Pecora.png')">
                    <div class="user-img">
                        <img src="assets/images/Dr_Andrew_Pecora.png" alt="user-image" class="rounded-circle img-inline">
                        </div>
                    <div>
                        <span class="name">
                            <strong>Dr.Andrew Pecora</strong>
                        </span>
                    </div>
                    </a>
                </li> -->

                <li class="status-available">
                    <a href="javascript:;" (click)="onClick(null)">
                        <div class="user-img">
                            <img src="assets/images/icons8-male-user-50.png" alt="user-image" class="rounded-circle img-inline">
                        </div>
                        <div>
                            <span class="name">
                                <strong>Add Account</strong>
                            </span>
                        </div>
                    </a>
                </li>
            </ul>	                   	 
        </div>
    </div>
    <div class="c-rightfooter">Copyright &#169; 2021. chartDoc is a registered trademark. All rights reserved.</div>
</div>
