table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }


  .linkDisabled {
  cursor: not-allowed;
  pointer-events: none;
  color: grey;
}