<div class="tab-content primary" id="myTabContent1">
    <div class="tab-pane fade active show" id="profile-1">
        <div class="row margin-0">
            <div class="col-xl-6">
                <section class="box nobox ">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-xl-12">
                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tr>
                                        <td style="border-bottom: 0 !important;">
                                            <h2 class="title float-left tabtitle-open">
                                                Select CPT Codes
                                            </h2>
                                        </td>
                                        <!-- <td style="text-align: right;border-bottom: 0 !important;">
                                            <button *ngIf="patienthisttory" kendoButton class="btn btn-success btn-corner"
                                                [disabled]="isPosCheckOut" style="width:120px; font-size: 16px;"
                                                (click)="saveCptDetails($event)">Save</button>
                                        </td> -->
                                    </tr>
                                </table>

                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="controls" style="height: 400px;overflow-y:auto;padding: 15px;">
                                        <!-- <div *ngIf="tblVisibility" id="div5" class="targetDiv">
                                            <table class="icd dt-responsive display" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr *ngFor="let cpt of cptDetails">
                                                        <td>
                                                            {{cpt.code}}
                                                            {{cpt.desc}}
                                                        </td>
                                                        <td>
                                                            <button type="button" (click)="deleteRow(cpt)"
                                                                class="deletbutton">X</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div> -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox" checked="checked">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox" checked>
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label><label class="container-chkbox li-type-width">**** 99201 NP OV
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-xl-6">
                <!-- <section class="box nobox ">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="wid-notification">
                                    <div class="input-group mb-3">
                                        <input style="border-radius: 10px; background: #fff; color: #000;" type="text"
                                            class="form-control" placeholder="Search By CPT Code or Condition"
                                            [(ngModel)]="searchTerm" aria-label="ICDSearch"
                                            aria-describedby="basic-addon2">
                                        <i class="fa fa-search icon"></i>
                                    </div>
                                    <div style="height: 620px;overflow-y:scroll;">
                                        <div class="accordion-group"
                                            *ngFor="let cptdetail of pageOfItems | PatientCPTSearchFilter:{code: searchTerm, desc:searchTerm}">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-row">
                                                                <div class="col-5" style="display: none;">
                                                                    {{cptdetail.id}}
                                                                </div>
                                                                <div class="col-5">
                                                                    {{cptdetail.code}}
                                                                </div>
                                                                <div class="col-6">
                                                                    {{cptdetail.desc}}
                                                                </div>
                                                                <div class="col-1">
                                                                    <button type="button" class="showSingle addbutton"
                                                                        (click)="AddCPTDetails(cptdetail.id, cptdetail.code, cptdetail.desc)"
                                                                        target="5">+</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer pb-0 pt-3">
                                            <jw-pagination [items]="cptDetailss" [pageSize]="10" (changePage)="onChangePage($event)"></jw-pagination>
                                        </div>
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </section> -->

                <div class="form-group">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td style="border-bottom: 0 !important;">
                                <h2 class="title float-left tabtitle-open">
                                    Assign CPT Codes
                                </h2>
                            </td>

                        </tr>
                    </table>
                    <div class="controls" style="height: 400px;overflow-y:auto;padding:15px;">
                        <div class="accordion rounded-accordian" id="accordionExample">
                            <div class="card mb-2">
                                <div class="card-header" type="button" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne" id="headingOne">
                                    <h2 class="mb-0 mt-0">
                                        <button class="btn btn-link mt-0">
                                            **** 99201 NP OV
                                        </button>
                                        <span class="badge badge-pill badge-secondary badgestyle">2 Selected</span>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse show pb-1" aria-labelledby="headingOne"
                                    data-parent="#accordionExample">
                                    <div class="card-body pb-1">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="container-chkbox">12159 MN99201
                                                    <input type="checkbox" checked>
                                                    <span class="checkmark"></span>
                                                </label>
                                                
                                            </div>
                                            <div class="col-md-7">
                                                <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry.</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="container-chkbox">12159 MN99201
                                                    <input type="checkbox" >
                                                    <span class="checkmark"></span>
                                                </label>
                                                
                                            </div>
                                            <div class="col-md-7">
                                                <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry.</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="container-chkbox">12159 MN99201
                                                    <input type="checkbox" checked>
                                                    <span class="checkmark"></span>
                                                </label>
                                                
                                            </div>
                                            <div class="col-md-7">
                                                <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-2">
                                <div class="card-header" id="headingTwo" type="button" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h2 class="mb-0 mt-0">
                                        <button class="btn btn-link collapsed">
                                            **** 99201 NP OV
                                        </button>
                                        <span class="badge badge-pill badge-secondary badgestyle">1 Selected</span>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse pb-1" aria-labelledby="headingTwo"
                                    data-parent="#accordionExample">
                                    <div class="card-body pb-1">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="container-chkbox">12159 MN99201
                                                    <input type="checkbox" checked>
                                                    <span class="checkmark"></span>
                                                </label>
                                                
                                            </div>
                                            <div class="col-md-7">
                                                <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry.</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="container-chkbox">12159 MN99201
                                                    <input type="checkbox" >
                                                    <span class="checkmark"></span>
                                                </label>
                                                
                                            </div>
                                            <div class="col-md-7">
                                                <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>