<!-- <div class='page-topbar sidebar_shift'>
    <div class='logo-area'>
    </div>
    <div class='quick-area'>
        <app-header></app-header>
    </div>
</div>
<div class="page-container row-fluid container-fluid">
    <app-side-menu></app-side-menu>
</div> -->
<div>
    <!-- START CONTENT -->
    <section id="main-content" class="sidebar_shift">
        <section class="wrapper main-wrapper row">

            <div class='col-12'>
                <div class="page-title">
                    <div class="float-left">
                        <!-- PAGE HEADING TAG - START -->
                        <h1 class="title">Master</h1><!-- PAGE HEADING TAG - END -->
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- MAIN CONTENT AREA STARTS -->
            <div class="col-xl-12">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title float-left">Add Other Master</h2>
                        <!--<div class="actions panel_actions float-right">
                        <a class="box_toggle fa fa-chevron-down"></a>
                        <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                        <a class="box_close fa fa-times"></a>
                    </div>-->
                    </header>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <form>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">Type:</label>
                                                    <select class="form-control" name="" id="TypeId"
                                                    [(ngModel)]="selectedTypeId"  [ngModelOptions]="{standalone: true}"
                                                       selected
                                                        (change)="selectChangeHandler($event)">
                                                        <option value="">--Select--</option>
                                                        <option *ngFor="let item of Types" value="{{item.id}}">
                                                            {{item.name}} </option>
                                                    </select>
                                                    <!-- <input type="text" class="form-control" > -->
                                                </div>
                                                <div [ngClass]="divclass1"  *ngIf="tableId==4?true:false">
                                                    <label for="inputPassword4">Code</label>
                                                    <input class="form-control"  id="field-5"  [(ngModel)]="code" [ngModelOptions]="{standalone: true}" cols="5" rows="1" (change)="updatecode($event)" >
                                                </div>
                                                <div [ngClass]="divclass" >
                                                    <label for="inputPassword4">Description</label>
                                                    <textarea class="form-control" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"  cols="5" rows="1" id="field-6"></textarea>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputPassword4">&nbsp;</label>
                                                    <br>
                                                
                                                    <button type="button"  class="btn btn-primary" (click)="SaveOther()">Finish</button>&nbsp;&nbsp;
                                                    <button type="button" class="btn" [routerLink]="['/app-general']">Cancel</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- MAIN CONTENT AREA ENDS -->
        </section>
    </section>
</div>