<div class="container-fluid">
    <div class="login-wrapper row">
        <div id="login" class="login loginpage">
            <h1><a href="#" title="Login Page" tabindex="-1">Complete Admin</a></h1>
            <div *ngIf="!emailSent">
                <h3 class="select-acclabel p-bord-control">Forgot Your Password?</h3>
                <div>
                    <ul class="list-unstyled notification-widgett">
                        <li class="status-available-fp">
                            We will send you an email containing a link that will allow you to create a new password.
                        </li>
                        <!-- <form name="loginform" id="loginform" action="dashboard.html" method="post"> -->
                            <div class="form-group">
                                <span class="name1"><strong>{{errorMsg}}</strong></span>
                                <label class="col-md-12 control-label paddingLeft0 paddingRight0" for="user_pass">Enter email address
                                    <div class="col-md-12 paddingLeft0 paddingRight0">
                                        <div class="col-md-12 paddingLeft0 paddingRight0">
                                            <input type="text" name="log" id="user_login" class="input" value="" size="20" (input)="userName = $event.target.value" />
                                        </div>
                                    </div>
                                </label>

                                <re-captcha (resolved)="resolved($event)" 
                                            formControlName="recaptchaReactive" 
                                            siteKey="6LcZYuwZAAAAAPIxWYOVjy79ouVREBP9QUDoFPjZ">  
                                </re-captcha>
                                
                                <div class="login-button-div"><button kendoButton class="btn btn-accent signinbutton"
                                        value="Log In" (click)="resetPassword()">Send Email</button></div>
                                <p class="mid-link"><a href="" title="Return to log in screen">Return to log in screen</a>
                                </p>
                            </div>
                        <!-- </form> -->
                    </ul>
                </div>
            </div>

            <div *ngIf="emailSent">
                <h3 class="select-acclabel p-bord-control">Password Request Has Been Sent</h3>
                <div>
                    <ul class="list-unstyled notification-widgett">
                        <li class="status-available-fp">
						<strong>{{resendMsg}}</strong>
                        </li>
                        
                        <li class="status-available">
                            We have sent an email to: <strong>{{userName}}</strong><br /> Please reset your password using the link provided in email
                        </li>
                        <li class="status-available-fp">
                            If you didn't get the email, check your<br/> spam folder or try again.
                        </li>
                        <!--<form name="loginform" id="loginform" action="dashboard.html" method="post"> -->
                            <div class="form-group">
                                
                                
                                <div class="login-button-div pb-custom"><button kendoButton class="btn btn-accent signinbutton"
                                        value="Log In" (click)="resendPassword()">Resend Email</button></div>
                                <p class="mid-link"><a href="" title="Return to log in screen">Return to log in screen</a>
                                </p>
                            </div>
                        <!--</form>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="c-rightfooter">Copyright &#169; 2021. chartDoc is a registered trademark. All rights reserved.</div>
</div>