<div class='page-topbar sidebar_shift'>
    <div class='logo-area'>
    </div>
    <div class='quick-area'>
        <app-header></app-header>
    </div>
</div>
<div class="page-container row-fluid container-fluid">
    <app-side-menu></app-side-menu>
</div>

<div>

    <!-- START CONTENT -->
    <section id="main-content" class=" ">
        <section class="wrapper main-wrapper row" style=''>

            <div class='col-12'>
                <div class="page-title">

                    <div class="float-left">
                        <!-- PAGE HEADING TAG - START --><h1 class="title">Master</h1><!-- PAGE HEADING TAG - END -->                            </div>

                </div>
            </div>
            <div class="clearfix"></div>
            <!-- MAIN CONTENT AREA STARTS -->

            <div class="col-xl-12">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title float-left">Add Charge Date Range Master</h2>
                        
                    </header>
                    <div class="content-body">
                            <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <form [formGroup]="chargeDate_FormGroup" #chargeDateForm="ngForm">
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label for="inputFromDate">From Date</label>
                                                <input type="date" formControlName="fromDate" value="MM/DD/YYYY" class="form-control" id="inputFromDate" />
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputToDate">To Date</label>
                                                <input type="date" formControlName="toDate" value="MM/DD/YYYY" class="form-control" id="inputToDate" />
                                            </div>   
                                                                                        
                                            <div class="form-group col-md-3" style="padding-top:35px;">
                                                <button type="button" class="btn btn-primary" (click)="saveChargeDate()">Finish</button>
                                                <button type="button"  class="btn"  [routerLink]="['/app-charge-date']">Cancel</button>
                                               </div>
                                        </div>

                                        <div class="form-row">


                                        </div>

                                    </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section></div>


            <!-- MAIN CONTENT AREA ENDS -->
        </section>
    </section>
    <!-- END CONTENT -->
</div>
